@import "tailwindcss";

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, purple 20%, orange 80%);
}

.hide {
  visibility: hidden;
}

#social-toggle {
  transition: transform 0.3s ease;
}

.rotated {
  transform: rotate(180deg);
}
